


<!DOCKTYPE HTML>
<html>
	<head>
<meta name="viewport" content="width=device-width" />
<title>=@ViewBag.Title</title>
 <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	</head>
	<body>
		<header>
			<img src="~/wwwroot/Pictures/pagelogo.jpg" alt="Img. pagelogo" style="width:40px;height:20px;">
		<p style="color:blue;font:arial sans-seriff; font-size:22px;">@Html.ActionLink("Index",  "Index",  "Home",null,null ) 
		@Html.ActionLink("About",  "About",  "Home",null,null ) 
		@Html.ActionLink("Contact",  "Contact",  "Home",null,null ) 
		@Html.ActionLink("Projects",  "Projects",  "Home",null,null )
		@Html.ActionLink("Fewer",  "Fewer",  "Doctor",null,null ) 
	@Html.ActionLink("GuessingGame",  "GuessingGame",  "Home",null,null )
	@Html.ActionLink("People_WithPartial",  "People_WithPartial",  "People",null,null )</p>
		</header>
		<div>
		@RenderBody()
		</div>
		
		<footer style="padding: 50px;font:arial-sans-serif;font-size: 14px;"> <span>©Jani Tuoriniemi @DateTime.UtcNow.ToString("yyyy-MM-dd") </span></footer>
		
	</body>

</html>