@{
	Layout = "~/Views/shared/Layout.cshtml";
}
@model BackendExercise.Models.Viewlist

 @using (Html.BeginForm("City", "Controller1", FormMethod.Post))

{ 
    <table>
        <tr>
            <td>Enter City Name: </td>
            <td>@Html.TextBoxFor(m => m.Viewcity.CityName) @Html.ValidationMessageFor(m => m.Viewcity.CityName)</td>
        </tr>
        <tr>
            <td>Enter Citys Country: </td>
            <td>@Html.TextBoxFor(m => m.Viewcity.Countryname) @Html.ValidationMessageFor(m => m.Viewcity.Countryname)</td>
        </tr>
      
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
    </table>
}
<h1 style > @ViewBag.text</h1>
<h1> List of cities</h1>
  @foreach (var x in Model.Citylist)
{<tr style="text-align:left;">
    <td> Name: @x.CityName</td> 
    <td>Country: @x.Countryname</td>
    
    <td> <form action="@Url.Action("City", "Controller1")" method="get">

<button name="nr" type="submit" value=@x.CityID>Remove</button>
</form> 
</td>
    </tr>
}